.button-on{
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.button-off{
  background-color: rgb(220, 53, 69);
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.show-hide-paasword-button{
  margin-left: 10px;
}

.title-website{
  font-size: 30px;
}

.input-text{
  width: 200px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 5px;
}
.button-login, .button-sign-up{
  background-color: rgb(0, 123, 255);
  margin-right: 10px;
  color: white;
  border: none;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

